p1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120px;
        animation-duration: 4s;
        animation-name: fadeInAnimation;
}       

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
}

body {
        min-width: 100vh;
        width: 100%;
        background-color: #0000;
        background-image: url(/assets/space.gif);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: auto;   
        color: #fff;
        padding: 0 8%;

}

.center {
        margin: auto;
        width: 50%;
        padding: 11%;
        text-align: center;
        justify-content:center;
        align-items:center;
        display:flex;
}

@keyframes fadeInAnimation {
        from { 
                opacity: 0
        }

        to {
                opacity: 1
        }
}
